@import url("reset.css");

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/* color: white; */
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	/* padding: 30px; */
}

/* header */

.header__container {
	max-width: 1290px;
	margin: 0 auto;
	position: relative;
}
.header {
	padding: 30px 0;
	background-color: #c0c0c1;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__logo {
	margin-right: 35px;
	vertical-align: middle;
}

.header__button {
	/* margin: 27px 0 0 300px; */
}

.button {
	padding: 11px 20px;
	background-color: #ffbc57;
	color: white;
	border-radius: 8px;
	vertical-align: middle;
	font-size: 19px;
	line-height: 1.26315789; /* 24/19 */
}
.button span {
	vertical-align: middle;
}
.button::before {
	content: "";
	background: url(../img/header_2/catalog_1.svg) 0 0 / 100% no-repeat;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.catalog {
	position: relative;
	display: none;
	/* z-index: 5; */
}

.header__catalog:target {
	display: block;
	min-width: 300px;
	padding: 12px 0;
	/* border: 1px solid #000; */
	border-radius: 8px 0 0 8px;
	background-color: #ffffff;
	position: absolute;
	top: 200%;
	left: 10%;
}

.catalog__list {
	font-size: 0;
	max-width: 400px;
}
.catalog__link span {
	position: relative;
	top: 5px;
}

.catalog__link {
	position: relative;
	color: #2b2929;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.4;
	width: 100%;
	padding: 10px 35px 10px 30px;
}
.catalog__link:hover {
	background-color: #ffbc57;
}
.catalog__link::after {
	content: "";
	position: absolute;
	background: url(../img/header_2/arrow.svg) no-repeat;
	width: 24px;
	height: 24px;
	top: 23px;
	right: 5px;
}
.catalog__link:hover::after {
	background: url(../img/header_2/arrow\ copy.svg) 0 0 no-repeat;
}


.catalog__image {
	/* padding: 15px 0 15px 30px; */
	margin-right: 15px;
}
.catalog__item:hover .sub-catalog {
	visibility: visible;
	opacity: 1;
}

.catalog__sub-catalog {
	/* border: 1px solid #000; */
	position: absolute;
	top: 0;
	left: 100%;
	width: 323px;
	height: 100%;
	border-radius: 0 8px 8px 0;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	background-color: #ffffff;
}
.sub-catalog::before {
	content: "";
	background-color: #ffbc57;
	width: 5px;
	height: 97%;
	position: absolute;
	top: 11px;
	left: 0;
}
.sub-catalog__list {
	padding: 24px 22px 20px 30px;
}

.sub-catalog__item:not(:last-child) {
	margin-bottom: 15px;
}
.sub-catalog__link {
	color: #2b2929;
	font-size: 19px;
	line-height: 1.8;
}
.sub-catalog__link:hover {
	text-decoration: underline;
}
/*-------------------------------------------------- product-cards ---------------------------------------------------------------*/

.page__container {
	max-width: 1290px;
	margin: 0 auto;
}
.page__title {
	padding: 70px 0 28px 0;
}

.title {
	color: #2b2929;
	font-size: 40px;
	line-height: 1.2; /* 48/40 */
}

.page__cards {
	margin: -12px -5px;
}

.cards {
	font-size: 0;
	padding-top: 20px;
}

.cards__item {
	
}

.item {
	display: inline-block;
	padding: 12px 5px;
	width: 20%;
}
.item__content::before {
	content: "";
   width: 280px;
   height: 280px;
   background-color: #F8F8F8;
   border-radius: 50%;
   position: absolute;
   top: 35%;
   left: -6%;
	/* z-index: 1; */
}
.item__content {
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
	max-width: 250px;
	max-height: 300px;
	position: relative;
	overflow: hidden;
}
.item__name {
	color: #2b2929;
	font-size: 20px;
	line-height: 1.4;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 65%;
	/* word-wrap: break-word; */
	z-index: 3;
}

.item__number {
	font-size: 20px;
	line-height: 1.4;
	color: #b1b1b1;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 3;
}

.item__image {
	max-width: 250px;
	position: relative;
	z-index: 2;
}
.item__image img {
	width: 100%;
}

